body{
    background: linear-gradient(to right, #67074e, #1a0033);
}

header{
    color: #F8F8FF;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.rock{
    background: #b388eb;
    color: #1a0033;
    padding: 12px 48px;
    margin: 10px;
    border-radius: 12px;
}

.rock::before{
    content:"🪨";
    position: relative;
    right: 6px;
}

.paper{
    background: #a259ff;
    color: #fff;
    padding: 12px 48px;
    margin: 10px;
    border-radius: 12px;
}

.paper::before{
    content:"📄";
    position: relative;
    right: 6px;
}

.scissors{
    background: #e8b4d0;
    color: #67074e;
    padding: 12px 48px;
    margin: 10px;
    border-radius: 12px;
}

.scissors::before{
    content:"✂️";
    position: relative;
    right: 6px;
}

.results{
    color: #FFD700;
    text-align: center;
}
