body{
    background: linear-gradient(to right, #67074e, #2b0030);
}

header{
    color: #C8A2C8;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.rock{
    background: #ff6b6b;
    color: #fff;
    padding: 12px 48px;
    margin: 10px;
    border-radius: 12px;
}

.rock::before{
    content:"🪨";
    position: relative;
    right: 6px;
}

.paper{
    background: #007AFF;
    color: #fff;
    padding: 12px 48px;
    margin: 10px;
    border-radius: 12px;
}

.paper::before{
    content:"📄";
    position: relative;
    right: 6px;
}

.scissors{
    background: #69B84A;
    color: #fff;
    padding: 12px 48px;
    margin: 10px;
    border-radius: 12px;
}

.scissors::before{
    content:"✂️";
    position: relative;
    right: 6px;
}

.results{
    color: #FFD700;
    text-align: center;
}
